version: '3.8'

services:
  db:
    image: postgres:15-bookworm
    container_name: aegis_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-aegis_db}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build: .
    container_name: aegis_backend
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    # command: >
    #   sh -c "flask db upgrade &&
    #          python -m app.infrastructure.seeding.seed_runner &&
    #          gunicorn --bind 0.0.0.0:5000 'app.main:create_app()'"
    restart: unless-stopped

  listener:
    build: 
      context: .
    container_name: aegis_listener
    volumes:
      - .:/app
    depends_on:
      - backend
    env_file:
      - .env
    command: python mqtt_listener.py

  simulator:
    build: 
      context: .
    container_name: aegis_simulator
    volumes:
      - .:/app
    depends_on:
      - backend
    env_file:
      - .env
    command: python sensor_simulator.py
    restart: unless-stopped

volumes:
  postgres_data: